@font-face {
    font-display: swap;
    font-family: MBCorpo Title;
    font-style: normal;
    font-weight: 400;
    src: url(/src/fonts/MBCorpoATitleCond-Regular-Web.woff2) format("woff2"),url(/src/fonts/MBCorpoATitleCond-Regular-Web.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: MBCorpo Text;
    font-style: normal;
    font-weight: 400;
    src: url(/src/fonts/MBCorpoSText-Regular-Web.woff2) format("woff2"),url(/src/fonts/MBCorpoSText-Regular-Web.woff) format("woff")
}

@font-face {
    font-display: swap;
    font-family: MBCorpo Text;
    font-style: normal;
    font-weight: 700;
    src: url(/src/fonts/MBCorpoSText-Bold-Web.woff2) format("woff2"),url(/src/fonts/MBCorpoSText-Bold-Web.woff) format("woff")
}

*,:after,:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0)
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: left;
    background-color: #000000;
    overflow-y: scroll;
    font-family: 'MBCorpo Text', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6
{     
    margin-top: 0;
    margin-bottom: .5rem  
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

input {
    margin-bottom: 1rem;
}

a {
    color: #999999;
}

a:hover {
    color: #cccccc;
    text-decoration: unset;
}

.header {
    padding-top: 1rem;
}

.col {
    padding: 1rem 0;
}

.form-control {
    border-radius: 0;
    background-clip: unset;
    border: none;
}

.petronas {
    color: #0CA597;
}

.bg-petronas {
    background-color: #0CA597;
    color: #fff;
}

.grey {
    color: #999999;
}

.bg-grey {
    background-color: #4A4A4A;
    color: #fff;
}

.ma-m {
    vertical-align: middle;
}

.btn {
    border-radius: 0;
    border: 0;
}

.btn:hover,
.btn:active,
.btn.active {
    background-color: #0ec2b1 !important;
}

.btn:focus {
    box-shadow: none;
}

.fa-plus-circle.pointer:hover,
.fa-times-circle.pointer:hover {
    color: #0ec2b1 !important;
}

.btn.popover-btn {
    border-radius: 2rem;
    padding: 0 0.75rem;
    font-size: 1.5rem;
    background-color: transparent;
    border: 2px solid #0CA597;
}

.btn.popover-btn:hover,
.btn.popover-btn:focus {
    color: #fff;
    background-color: #4A4A4A !important;
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
    top: 2px;
    border-bottom-color: #0CA597;
}

#login {
    margin-top: 15%;
}

#brand-logo a {
    display: inline-flex;
}

.capitalize {
    text-transform: capitalize;
}

.pointer {
    cursor: pointer;
}

.fs-15 {
    font-size: 1.5rem;
}

.team-member .col .fa,
.team-member .col .fas {
    font-size: 1.5rem;
}

.team-member .col.role {
    text-align: center;
}

.team-member .col.name {
    padding-left: 1rem;
    line-height: 0.25rem;
}

.team-member .col.name h5 {
    display: inline-flex;
}

.team-member .col.name span {
    font-style: italic;
}

.team-member .col.threshold {
    padding-right: 2rem;
}

.team-member .team-member-data {
    display: none;
}

.progress {
    border-radius: 0;
    margin-top: 0.75rem;
}

.progress .progress-bar {
    border-radius: 0;    
}

.metrics {
    border-top: 2px solid #0CA597;
    background-color: #1c1d1e;
}

#annual-leave #annual-leave-header .col,
#annual-leave-form .col,
#additional-events-header .col,
#event-form .col  {
    padding: 0 5px;
}

#annual-leave #annual-leave-header .col p,
.annual-leave-row .col p,
#additional-events-header .col p,
.additional-event-row .col p {
    margin-bottom: 0;
}

.add-annual-leave i,
.add-event i {
    margin-right: 5px;
}

.annual-leave-row,
.additional-event-row {
    padding: 0.25rem 5px;
    border-bottom: 1px solid #999;
}

.annual-leave-row .col,
.additional-event-row .col {
    padding: 5px;
}

.icon {
    min-height:90px;
    font-size: 2rem;
    text-align: center;
    padding: 1rem;
}

.icon i {
    margin-top: 0.75rem;
}

.form-control.datepicker {
    background-color: unset;
    padding: 0;
}

.form-control.datepicker .react-date-picker__wrapper {
    background-color: #fff;
}

.card,
.card .card-header {
    border-radius: 0;
}

.card {
    background-color: #1c1d1e;
    border-top: 2px solid #0CA597;
}

.card-footer {
    border-radius: 0;
    border-top:2px dashed #4a4a4a;
}

.full-schedule-row .col {
    border-bottom: 1px solid #999;
}

.stats .row.race .col,
.stats .row.tests .col,
.stats .row.holiday .col {
    padding: 0;
}


select,
.form-control.datepicker .react-date-picker__wrapper,
.react-calendar {
    background-color: #1c1d1e !important;
    border: 1px solid #4a4a4a !important;
    color: #fff !important;
}

.form-control.datepicker .react-date-picker__wrapper input,
.react-calendar__navigation {
    color: #fff !important;
}

.form-control.datepicker .react-date-picker__wrapper button svg {
    stroke: #0CA597;
}

.form-control.datepicker .react-date-picker__wrapper button {
     outline: #0CA597;
}

.react-calendar__tile,
.react-calendar__navigation__arrow,
.react-calendar__navigation__label {
    background-color: #1c1d1e;
    color: #fff !important;
}

.react-calendar--selectRange .react-calendar__tile--hover,
.react-calendar--selectRange .react-calendar__tile--active,
.react-calendar__tile--active.react-calendar__tile--range,
.react-calendar__tile:hover,
.react-calendar__tile:focus,
.react-calendar__navigation__arrow:hover,
.react-calendar__navigation__arrow:focus,
.react-calendar__navigation__label:hover,
.react-calendar__navigation__label:focus {
    background-color: #4a4a4a !important;
}

button.react-calendar__tile--now {
    border-top: 2px solid #0CA597 !important; 
    background-color: #4a4a4a !important;   
}

select option:checked,
.react-calendar__tile--rangeStart
.react-calendar__tile--rangeEnd,
.react-calendar__tile--hoverStart,
.react-calendar__tile--hoverEnd,
.react-calendar__tile--now.react-calendar__tile--rangeStart,
.react-calendar__tile--hasActive,
.react-calendar__tile--now:hover,
.react-calendar__tile--now:focus {
    background-color: #0CA597 !important;
}
